@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.login {
  margin-left: 5%;
  /* width: 70%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
ul {
  margin: 0 20px;
}
ul a {
  text-decoration: none;
  font-weight: bold;
  color: #8a55d8;
  font-size: 2em;
}
ul a:hover {
  text-decoration: underline;
  color: #d421bf;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.conteudo-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 80%; */
  gap: 20px;
}

.conteudo-login div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.conteudo-login div p {
  font-weight: bold;
  color: #d421bf;
}

.conteudo-login .input-group {
  position: relative;
  margin-bottom: 1.5rem; /* espaço entre eles */
}

.conteudo-login .input-group:focus-within i {
  color: #d421bf;
}

.conteudo-login .input-group input {
  width: 50em;

  height: 3.125rem;
  border-radius: 1.875rem;
  border: 0.2rem solid rgb(94, 23, 235);
  padding-left: 3rem; /* espaço interno para o ícone */
  background-color: #d9d9d9;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.conteudo-login .input-group input:focus {
  border: 0.2rem solid #d421bf;
  outline: none;
}

.conteudo-login .input-group i {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(94, 23, 235);
  font-size: 1rem;
}

.conteudo-login div button {
  width: 40em;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: rgb(138 85 216);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.conteudo-login div button:hover {
  background-color: #d421bf;
  transition: 0.4s ease;
  cursor: pointer;
}

h1 {
  font-size: 4em;
  color: #8a55d8;
}

.imagem img {
  height: 100vh;
}
